<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="t1000" class="kz.training.spring.impls.ModelT1000">
        <constructor-arg ref="sonyHead"/>
        <constructor-arg ref="sonyHand"/>
        <constructor-arg ref="sonyLeg"/>
        <property name="head" ref="toshibaHead"/>
        <property name="hand" ref="toshibaHand"/>
        <property name="leg" ref="toshibaLeg"/>
    </bean>

    <bean id="sonyHead" class="kz.training.spring.impls.sony.SonyHead"/>
    <bean id="sonyHand" class="kz.training.spring.impls.sony.SonyHand"/>
    <bean id="sonyLeg" class="kz.training.spring.impls.sony.SonyLeg"/>

    <bean id="toshibaHead" class="kz.training.spring.impls.toshiba.ToshibaHead"/>
    <bean id="toshibaHand" class="kz.training.spring.impls.toshiba.ToshibaHand"/>
    <bean id="toshibaLeg" class="kz.training.spring.impls.toshiba.ToshibaLeg"/>

</beans>
